body{
  background-color: rgb(31, 35, 70);
}

.about-grid{
  justify-content: center;
  width: 80%;
  margin: auto;
  
}
.aboutmeinfo p{
  font-size: 20px;
  color: white;
  font-family: 'Oxygen',sans-serif;
 padding:10px 15px 5px 15px;
 letter-spacing: 2px;
}
.aboutmeinfo{
  background-color:rgb(31, 35, 70);
  box-shadow: 0 0 1.5rem rgb(42, 46, 85);
}
.resume-right-col{
  background-color: #ebe9dc;
  color: rgb(6, 15, 44);
  padding: 2em;
}
.resume-left{
  justify-content: center;
  margin: auto;
  padding-left: 2em;
  padding-top: 2em;
  font-family: 'Oxygen',sans-serif;
  color: aliceblue;
}

.projects-grid{
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 20px; */
}

.contact-body{
  margin: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 4em;
  justify-content: center;
}
.contact-grid{
  background-color: rgb(190, 190, 190);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  width: 80%;
  height: auto;
  
}
.contact-grid h1{
  font-family: 'Anton' ,sans-serif;
  letter-spacing: 5px;
}
.contact-grid hr{
  width: 50%;
  margin: auto;
  border-top: 5px dotted black;
}
.contact-list i{
  padding-right: 6vw;
  font-size: 40px;
  text-decoration: none;
  color: black;
}
.contact-list a{
  color:black;
  text-decoration: none;
}
@media only screen and (max-width: 900px){
  .avatar-img{
    margin-left: auto;
    margin-right: auto;
  }
 
}
@media only screen and (max-width: 600px){
  .landing-grid{
    position: relative;
  }
  .contact-list i{
    font-size: 30px;
    margin-left: -7%;
    padding-right: 2vw;
  }
  .contact-grid{
    width: auto;
  }
  .img-grid img{
    height: 65vw;
    transform: scaleX(2);
  }
}
@media only screen and (max-width: 1200px){
.buttons{
  margin-left: auto;
  margin-right: auto;
  /* align-items: center; */
  justify-content: center;
}
.contact-body{
  overflow: scroll;
}
}

.img-grid{
  display: flex;
  /* justify-content: flex-end; */
  flex-wrap: wrap;
  
}
.img-grid img{
  border-radius: 50%;
  width: 35%;
  margin: auto;

}
.name{
  justify-content: center;
  text-align: center;
 
}
.button1, .button2,.button3,.button4{
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(42, 46, 85);
  margin: 8px;
  text-align: center;
  font-size: 1.5em;
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  width: 55em;
  height: 10em;
  
  margin-top: 25px;
  /* padding-left: 70px; */
 
}
.button1:hover{
  opacity: 0.3;
}
.button2:hover{
  opacity: 0.3;
}
.button3:hover{
  opacity: 0.3;
}
.button4:hover{
  opacity: 0.3;
}
.buttons i{
  font-size: xx-large;
}

#b1{
  color: palevioletred;
 
}
#b2{
  color: yellow;
  
}
#b3{
  color: green;
  
}
#b4{
  color:cornflowerblue ;
 
}






#top, #bottom, #left, #right {
	
	position: fixed;
  }
  #top{
    background:  rgb(243, 243, 129);
  }
  #bottom{
    background:cornflowerblue;
  }
  #left{
    background:palevioletred
  }
  #right{
    background: lightgreen;
  }
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
    #bottom { bottom: 0; }
    
    @media 

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
	#top, #bottom, #left, #right { display: none; }
}